/*=== Common ===*/

html, body {
  height: 100%;
}

body {
  background: #313541;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}
.breadcrumb ul {
	padding-left: 0px;
	list-style: none;
}
.breadcrumb ul span{
	padding-right: 7px;
}
.nav_menu_top {
	background: #0086ff;
}
.nav_menu_top a {
  color: #FFF;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.nav-sm span.fa, .nav-sm .menu_section h3, .nav-sm span.text-main {
  display: none;
}

.clear {
  clear: both;
}

.container.body {
  width: 100%;
  padding: 0;
}

.main-heading {font-size: 19px;text-transform: uppercase;margin: 16px 0px;}
.section-heading {
  border-bottom: 1px solid rgba(51, 55, 68, 0.05);
  padding-bottom: 10px;
  /* padding-left: 5px; */
  margin-bottom: 0px;
  position: relative;
  font-size: 16px;
}

.section-heading .open-section {
  cursor: pointer;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.section-heading .open-section.active {
  cursor: pointer;

  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.section-wrap {
  background: #fff;
  padding: 5px 10px 0px;
  border: 1px solid #E6E9ED;
  margin-bottom: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.section-content {
  padding: 10px 0px 10px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;  
  margin: 0
}

.section-content.unshow {
  height: 0px;
}
/*=== End Common ===*/

/*=== BUTTON GROUP === */
.bg-dark {
  background: #313541; color: #fff;
}
.btn-circle{
  border-radius: 50%;
  padding: 0px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding-top: 0px;
}
.input-group[class*=col-] {

}
/*=== END BUTTON GROUP === */

/*=== FORM GROUP === */
.table {
  width: 100%;
  margin-bottom: 0px;
}
.table th{

}

.input-group[class*=col-] {
  padding: 0 15px;
}



/* Check box */
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

/* End Check box */
/* Tab Content */
.tabs-primary>li>a{
  background-color: #428bca;
  border-color: #428bca;
  color: #fff;  }

.tabs-danger>li>a {
  background-color: #d9534f;
  border-color: #d9534f; 
  color: #fff;}

.tabs-info>li>a {
  background-color: #5bc0de;
  border-color: #5bc0de;
  color: #fff; }

.tabs-warning>li>a {
  background-color: #f0ad4e;
  border-color: #f0ad4e; 
  color: #fff; }

.tabs-success>li>a {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #fff; }

.nav.nav-pills>li>a{
  padding: 5px 10px !important;
}
.nav.nav-pills>li.active>a, .nav.nav-pills>li.active>a:focus, .nav.nav-pills>li>a:hover {
  background: #333 !important;

}
/*=== END FORM GROUP === */


/*=== Left SIDE BAR ===*/


.left-sidebar-class .nav_title {
	background: #0066cb;
	border-bottom: 3px solid #c51b1c;
}

.left_col {
  background: #0086ff;
  position: fixed;
  height: 100%;
  width: 250px !important;
  transition: all .3s ease-in-out;
}
.main_content{
	transition: all .3s ease-in-out;
}
.nav-sm .left_col {
  position: absolute;
  width: 50px !important;
  overflow: inherit !important;
}

.nav-sm .slimScrollDiv {
  overflow: inherit !important;
}

.nav-sm .container.body .col-md-3.left_col {
  min-height: 100%;
  width: 50px;
  padding: 0;
  z-index: 9999;
  position: fixed;
  transition: all ease-in-out 0.3s;
}

.nav-sm .hidden-small {
  visibility: hidden;
}

.nav-sm .container.body .main_content {
  padding: 10px 20px;
  margin-left: 50px;
  z-index: 2;
}

.nav-sm .navbar.nav_title {
  width: 50px;
}

.nav-sm .navbar.nav_title a span {
  display: none;
}

.nav-sm .navbar.nav_title a i {
  font-size: 27px;
  margin: 13px 0 0 3px;
}

.nav-sm .main_container .top_nav {
  display: block;
  margin-left: 0px;
  z-index: 2;
  height: 51px;
  background: #f7f7f7;
}

.nav-sm .nav.side-menu li a {
  text-align: center !important;
  font-weight: 400;
  font-size: 13px;
  padding: 8px 0px 4px 0px;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
  /* border-right: 5px solid #d83c3c; */
}

.nav-sm ul.nav.child_menu ul, .nav-sm .nav.side-menu li.active-sm ul ul {
  position: static;
  width: 230px;
  background: none;
}

.nav-sm>.nav.side-menu>li.active-sm>a {
  color: #1ABB9C !important;
}

.nav-sm .nav.side-menu li a i.toggle-up {
  display: none !important;
}


.nav-sm .nav.side-menu li a i {
  font-size: 20px !important;
  text-align: center;
  width: 100% !important;
  margin-bottom: 5px;
}

.nav-sm .nav.side-menu li ul li a i {
  font-size: 12px !important;
  text-align: center;
  width: 10% !important;
  margin-bottom: 5px;
}



.nav-sm .nav.child_menu>li>a{
	border-left: none
}
/*
.nav-sm ul.nav.child_menu .fa{
  display: none;
}

.nav-sm ul.nav.child_menu li {
  padding: 0 10px;
}
*/
.nav-sm ul.nav.child_menu li a {
  text-align: left !important;
}

.nav-sm ul.nav.child_menu2 li{
  background: #0066cb;
}

.nav-sm ul.nav.child_menu2 li.current-page a,.nav-sm ul.nav.child_menu2 li:hover a{
  background: rgba(236, 165, 165, 0.09);
}

.nav-sm .profile {
  display: none;
}

.nav-sm .profile {
  display: none;
}

.menu_section {
  margin-bottom: 35px;
}

.menu_section h3 {
  padding-left: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 1px 1px #000;
}

.menu_section>ul {
  margin-top: 0px;
}

.profile_pic {
  width: 35%;
  float: left;
}

.img-circle.profile_img {
  width: 70%;
  background: #fff;
  margin-left: 15%;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px;
}

.profile_info {
  padding: 25px 10px 10px;
  width: 65%;
  float: left;
}

.profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8;
}

.profile_info h2 {
  font-size: 14px;
  color: #ECF0F1;
  margin: 0;
  font-weight: 300;
}


.main_menu span.fa {
    float: right;
    text-align: center;
    font-size: 16px;
    min-width: inherit;
    color: #fff;
}

.nav-sm .main_menu span.fa {
  float: right;
  text-align: center;
  margin-top: 5px;
  padding: 0px 15px;
  font-size: 10px;
  min-width: inherit;
  color: #C4CFDA;
  transform: rotate(0deg);
}

.nav-sm .main_menu span.badge  {font-size: 10px;font-weight: normal;line-height: 13px;padding: 2px 5px;position: absolute;right: 2px;top: 8px;/* border-radius: 50%; *//* width: 30px; *//* height: 30px; *//* text-align: center; */}

.active > a span.fa {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.nav-sm .menu_section {
  margin: 0;
}

.nav-sm span.fa, .nav-sm .menu_section h3 {
  display: none;
}

.nav-sm li li span.fa {
  display: inline-block;
}

.nav-md .container.body .col-md-3.left_col {
  min-height: 100%;
  width: 230px;
  padding: 0;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

body .container.body .main_content {
  background: #fff;
  padding: 88px 0px 0 !important;
}

.nav-md .container.body .main_content {
  margin-left: 250px;
}

.nav_title {
  width: 250px;
  float: left;
  border-radius: 0;
  height: 51px;
  transition: all .3s ease-in-out;
}

@media (max-width:991px) {
  .nav-md .container.body .main_content, .nav-md .container.body .top_nav {
    width: 100%;
    margin: 0;
  }

  .nav-md .container.body .col-md-3.left_col {
    display: none;
  }

  .nav-md .container.body .main_content {
    width: 100%;
    padding-right: 0;
  }

  .main_content {
    padding: 10px !important;
  }

}
@media screen and (max-width:310px) {
  .navbar-right .pick_lang {
    display: none !important;
  }
}
/* COLOR */
.blue {
    color: #3498DB
}
.purple {
    color: #9B59B6
}
.green {
    color: #1ABB9C
}
.aero {
    color: #9CC2CB
}
.red {
    color: #E74C3C
}
.dark {
    color: #34495E
}
.bg-white {
    background: #fff !important;
    border: 1px solid #fff !important;
    color: #73879C
}
.bg-green {
    background: #1ABB9C !important;
    border: 1px solid #1ABB9C !important;
    color: #fff
}
.bg-red {
    background: #E74C3C !important;
    border: 1px solid #E74C3C !important;
    color: #fff
}
.bg-blue {
    background: #3498DB !important;
    border: 1px solid #3498DB !important;
    color: #fff
}
.bg-orange {
    background: #F39C12 !important;
    border: 1px solid #F39C12 !important;
    color: #fff
}
.bg-purple {
    background: #9B59B6 !important;
    border: 1px solid #9B59B6 !important;
    color: #fff
}
.bg-blue-sky {
    background: #50C1CF !important;
    border: 1px solid #50C1CF !important;
    color: #fff
}
/* End BG COLOR */

.navbar-nav>li>a, .navbar-brand, .navbar-nav>li>a {
  color: #fff !important;
}

.top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover, .top_nav .nav .open>a,
.top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover {
  background: transparent;
}

.main_container .top_nav {
  display: block;
  margin-left: 250px;
  height: 51px;
  background: #fff;
  position: fixed;
  top: 0px;
  width: calc(100% - 250px);
  z-index: 9;
  transition: all 0.3s ease-in-out;
}

.nav-sm .main_container .top_nav {
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}

.navbar-right {
  margin-right: 0;
}

.top_nav .navbar-right {
  margin: 0;
  /*width: 32%;*/
  float: right;
}

.top_nav .navbar-right li {
  display: inline-block;
  float: right;
  /* position: static; */
}
.top_nav .pick_lang a {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
}
.top_nav .nav.navbar-right .pick_lang a:hover,
.top_nav .nav.navbar-right .pick_lang a:focus {
  background: transparent !important;
}
@media (max-width:480px) {
  .top_nav .navbar-right {
    width: 100%;
  }
}
@media (min-width:480px) {
  .top_nav .navbar-right li {
    position: relative;
  }
}

.top_nav .navbar-right .dropdown-menu li {
  width: 100%;
}

.top_nav .navbar-right .dropdown-menu li a {
  width: 100%;
  padding: 5px 20px;
}

.top_nav li a i {
  font-size: 17px;
  color: #fff;
}

.nav.side-menu>li {
  position: relative;
  display: block;
  cursor: pointer;
}

.nav.side-menu>li>a {
}

.nav.side-menu>li>a:hover {
  color: #fff !important;
}

.nav.side-menu>li:hover, .nav>li:focus {
  text-decoration: none;
  color: #FFF !important;
  background: #0066cb !important;
}
.nav.navbar-right>li>a:hover, .nav.navbar-right>li>a:focus {
  color: #FFF !important;
  background: transparent !important;
}
.dropdown-usermenu:before{
	content: "\F0D8";
    font-family: FontAwesome,'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif!important;
    font-size: 22px;
    position: absolute;
    top: -20px;
    right: 12px;
    color: #0066cb;
}
.nav.child_menu {
  display: none;
  background: #0066cb;
}


.nav.side-menu>li>a, .nav.child_menu>li>a {
  color: #fff;
  border-bottom: 1px solid #349fff;
  border-left: 3px solid transparent
}
/*
.nav.child_menu li:hover, .nav.child_menu li.active {
  background : #0066cb
}

.nav.child_menu li li:hover, .nav.child_menu li li.active {
  background: none;
}

.nav.child_menu li li a:hover, .nav.child_menu li li a.active {
  color: #eea24d;
  background: transparent !important;
}
.nav.side-menu>li.current-page, .nav.side-menu>li.active {
}

*/

#sidebar-menu a label{
	cursor: pointer
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 6px 10px;
  font-size: 12px;
}


.nav li.current-page {
  background: rgba(255, 255, 255, 0.05);
}

.nav li li li.current-page {
  background: none;
}

.nav li li.current-page a {
  color: #eab444;
    background: transparent;
}

.nav.side-menu>li.active>a {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  color: #fff;
  border-left: 3px solid #fff
}

.navbar-brand, .navbar-nav>li>a {
  font-weight: 500;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
  line-height: 14px;
}

.site_title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
  line-height: 51px;
  display: block;
  margin: 0;
  padding-left: 0px;
  text-align: center;
}

.site_title:hover, .site_title:focus {
  text-decoration: none;
}


.nav.navbar-right>li>a {padding: 15px 10px;}

.nav.top_menu>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #34495E !important;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}

.nav.child_menu li a{
  padding-left: 0px;
}
.nav.child_menu2 li a{
  padding-left: 45px !important;
}

.nav-sm .nav.child_menu2 li a{
  padding-left: 17px !important;
}


.nav.child_menu>li>a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  padding: 5px 6px 2px 24px;
  color: #fff;
  border-left: 3px solid #fff;
}
.nav-sm .nav.child_menu>li>a {
  color: #fff;
}

.main_menu_side {
  padding: 0;
  border-top: 1px solid #3481cd;
  overflow: auto;
  height: 85vh!important
}

footer {
  background: #fff;
  padding: 15px 30px;
  display: block;
}

.nav-sm footer {
  margin-left: 50px;
}

.footer_fixed footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}


ul.msg_list li {
  background: #f7f7f7;
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  margin: 6px 6px 0;
  width: 96% !important;
}

ul.msg_list li:last-child {
  margin-bottom: 6px;
  padding: 10px;
}

ul.msg_list li a {
  padding: 3px 5px !important;
}

ul.msg_list li a .image img {
          border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  float: left;
  margin-right: 10px;
  width: 11%;
}

ul.msg_list li a .time {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 35px;
}

ul.msg_list li a .message {
  display: block !important;
  font-size: 11px;
}

.dropdown-menu.msg_list span {
  white-space: normal;
}

.dropdown-menu {
  border: medium none;
  box-shadow: none;
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 9998;
  border: 1px solid #D9DEE4;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown-menu>li>a {
  color: #fff;
}

.navbar-nav.navbar-right .open .dropdown-menu {
  position: absolute;
  background: #0066cb;
  margin-top: -2px;
  border: none;
  -webkit-box-shadow: none;
  right: 0;
  left: auto;
  top: 53px;
  border-radius: 4px;
}
.top_nav .navbar-right .dropdown-menu li:hover a{
	background-color: transparent;
    color: #f8b62a;
}
.navbar-nav .open .dropdown-menu.msg_list {
  width: 300px;
}

.info-number .badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: -1px;
  top: 9px;
  background: #cc992e!important;
  border: 1px solid #cc992e!important;
}

@media (min-width:992px) {
  footer {
    margin-left: 230px;
  }
}

a.user-profile {
  color: #5E6974 !important;
  margin-top:-1px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.user-profile img {
  	width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.main_menu .fa {
  /* width: 26px; */
  opacity: .99;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px 5px 0px 10px;
}

.main_menu .child_menu .fa {
  /* color: #fff; */
}

.clearfix:after {
  width: 100%;
}

.dropdown-menu a {
  cursor: pointer;
}

/* Form search */
.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}





/*
.form-search input {border-radius: 14px;padding: 5px 10px;margin-top: 19px;outline: none;background: linear-gradient(#eee, #fff);
border-bottom: 1px solid #efefef !important;}
*/

.nav-sm .form-search{ display: none;}

/*



.form-search {
    width: 100%;
    padding: 5px 25px;
    margin: 0px auto 0px  auto;
}

.form-search input {
    width: 85%;
    height: 25px;
    padding: 0px 5px;
    float: left;
    border: 0;
    background: #336699;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    margin: 0px;
    color: #fff;
}


*/

.form-search input:focus {
   	outline: 0;
    background: #fff;
    color: #000;
    /*
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    */
}

/*
.form-search input::-webkit-input-placeholder,
.form-search input:-moz-placeholder,
.form-search input:-ms-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-search button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 5px;
    cursor: pointer;
    height: 25px;
    width: 15%;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    background: none;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border-bottom: 1px solid #efefef;
}   
  
.form-search button:hover{   
    background: #e54040;
} 
  
.form-search button:active,
.form-search button:focus{   
    background: #E54050;    
}
*/

/*
.form-search button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 2px;
    left: -6px;
}
*/
/*
.form-search button:hover:before{
    border-right-color: #e54040;
}

.form-search button:focus:before{
    border-right-color: #c42f2f;
}    

.form-search button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
*/

/*=== End Left SIDE BAR ===*/

/*=== NAV_MENU - NAV TOGGLE=== */

.nav_menu {
  float: left;
  background: #fff;
  width: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
}


@media (min-width:480px) {
  .nav_menu {
    position: static;
  }

}

@media (min-width:768px) {
  .footer_fixed footer {
    margin-left: 0;
  }
}


@media (min-width:768px) {
  .footer_fixed .nav-sm footer {
    margin-left: 0;
  }
}


.nav-md .toggle {
  float: left;
  margin: 0;
  padding: 15px 0px;
}

.nav-sm .toggle {
  float: left;
  margin: 0;
  margin: 15px 0 15px 50px;
  cursor: pointer;
}


.nav_menu .breadcrumb {
  background: none;
  padding-bottom: 0px;
  margin: 0px;
  padding-top: 7px;
  padding-left: 0px;
  /* width: 60%; */
  position: relative;
  display: inline-block;
  color: #5a738e;
  font-size: 11px;
}
.nav_menu .breadcrumb .fa {
  font-size: 14px;
  margin-top: -3px;
}
.nav_menu .add-btn-group {
  padding-top: 7px;
}

.nav-md .toggle a {
  padding: 0px;
  margin: 0;
  cursor: pointer;
}
.nav-ms .toggle a {
  padding: 15px 15px 0;
  margin: 0;
  cursor: pointer;
}
.icon-bar{
    display: block!important;
    width: 23px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    margin-top: 5px;
}

.toggle a i {
  font-size: 22px;
}

.nav-sm .nav_menu {
  padding-left: 50px;
}
/*=== END NAV_MENU === */

.treegrid-expander {
	color: #5a738e;
}


.search-left-admin {
	margin: 10px 15px;
	display: table;
}

.search-left-admin .form-control {
	background: #1845a2;
	float: left;
	border: 0px;
	color: #fff;
}
.search-left-admin .btn-default {
	background: #1845a2;
	float: left;
	border-color: #1845a2;
	color: #fff;
}
.search-left-admin input:focus {
	outline: 0;
    background: #fff;
    color: #000;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
	top: 5px !important;
}

.ms-options-wrap > button:focus, .ms-options-wrap > button {
	border: 1px solid #ccc !important;
	padding: 4px 20px 5px 5px !important;
	margin-top: 0px !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.form-control-view {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    min-height: 34px;
}