<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head>
	<meta charset="UTF-8">
	<title>Branches Management</title>
	<!-- Introduce the CSS style file -->
	<script th:src="@{/js/components/PharmacityItem/PharmacityItem.js}"></script>
	<script th:src="@{/js/category/medicineBranchManage.js}"></script>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<div layout:fragment="body">
		<div th:replace="~{adminHeader :: mainHeader}"></div>
		<div class="main-container">
			<div class="nav-left-container"></div>
			<div class="content-container">
				<div class="page-content">
					<span class="title gray-text">Branch Management</span>
					<button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal"
						data-target="#addRoleModal"><i class="icon-plus-sign"></i> Add new Branches</button>
				</div>
				<div class="bg-content clearfix">
					<div data-toggle="collapse" data-target="#search-box" class="header-box">
						<h2 class="title-box">Search area</h2>
						<i class="fa fa-minus pull-right" aria-hidden="true"></i>
					</div>
					<div class="collapse show" id="search-box">
						<div class="content-box">
							<div class="user-search-list"></div>
						</div>
						<!-- button footer -->
						<div class="col-12 center">
							<div class="box-btn-footer">
								<a class="u-btn-grey u-btn-effect" id="btnClear"> <i class="fa fa-eraser"
										aria-hidden="true"></i>
									<span> Cancel</span>
								</a> <a class="u-btn-common u-btn-effect" id="btnSearch"> <i class="fa fa-search"
										aria-hidden="true"></i> <span>Search</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="bg-content clearfix" id="role-card">
					<div class="table-wrapper" style="overflow-x: auto;">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Branches Code</th>
									<th>Branches Name</th>
									<th>Province</th>
									<th>District</th>
									<th>Ward</th>
									<th>Address</th>
									<th>Phone</th>
									<th>Manager</th>
									<th>Email</th>
									<th>Is Active</th>
									<th>Created By</th>
									<th>Created Date</th>
									<th>Updated By</th>
									<th>Updated Date</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody id="user-table"></tbody>
						</table>
					</div>
				</div>
				<div id="userTableContainer"></div>
				<ul class="pagination" id="pagination"></ul>
			</div>
		</div>
		<!--Delete the character prompt box-->
		<div class="modal fade" id="roleDelModal" tabindex="-1" role="dialog" aria-labelledby="roleDelModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
						<h4 class="modal-title" id="roleDelModalLabel">Delete the Branches</h4>
					</div>
					<div class="modal-body">Do you want to delete this Branches cruelly??</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-danger" id="commitRoleDel">Confirm delete</button>
					</div>
				</div>
			</div>
		</div>
		<!--Modify the character information form-->
		<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editRoleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="editRoleModalLabel">Modify the information</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="edit-Branches-code-input">Branches Code</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="edit-Branches-code-input"
										placeholder="Please enter the new Branches code" disabled>
								</div>
								<label class="col-sm-2 control-label" for="edit-Branches-name-input">Branches Name</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="edit-Branches-name-input"
										placeholder="Please enter the new Branches name">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="edit-manager-input">Manager</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="edit-manager-input"
										placeholder="Please enter the new manager" >
								</div>

								<label class="col-sm-2 control-label" for="edit-phone-input">Phone</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="edit-phone-input"
										placeholder="Please enter the new phone" >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="edit-province-input">Province</label>
								<div class="col-sm-4">
									<select class="form-control" id="edit-province-input"></select>
								</div>
								<label class="col-sm-2 control-label" for="edit-district-input">District</label>
								<div class="col-sm-4">
									<select class="form-control" id="edit-district-input"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="edit-ward-input">Ward</label>
								<div class="col-sm-4">
									<select class="form-control" id="edit-ward-input"></select>
								</div>
								<label class="col-sm-2 control-label" for="edit-address-input">Address</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="edit-address-input"
										placeholder="Please enter the new address"></input>
								</div>
							</div>
							<input type="hidden" name="provinceName" id="hidden-edit-province-name">
							<input type="hidden" name="districtName" id="hidden-edit-district-name">
							<input type="hidden" name="wardName" id="hidden-edit-ward-name">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="edit-email-input">Email</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="edit-email-input"
										placeholder="Please enter the new email"></input>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" id="edit-submit-btn">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<!--New character information form-->
		<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="addRoleModalLabel">New medicine supplier</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="add-Branches-code-input">Branches Code</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="add-Branches-code-input"
										placeholder="Please enter the new Branches code" >
								</div>
								<label class="col-sm-2 control-label" for="add-Branches-name-input">Branches Name</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="add-Branches-name-input"
										placeholder="Please enter the new Branches name">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="add-manager-input">Manager</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="add-manager-input"
										placeholder="Please enter the new manager" >
								</div>

								<label class="col-sm-2 control-label" for="add-phone-input">Phone</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="add-phone-input"
										placeholder="Please enter the new phone" >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="add-province-input">Province</label>
								<div class="col-sm-4">
									<select class="form-control" id="add-province-input"></select>
								</div>
								<input type="hidden" name="provinceName" id="hidden-province-name">
								<label class="col-sm-2 control-label" for="add-district-input">District</label>
								<div class="col-sm-4">
									<select class="form-control" id="add-district-input"></select>
								</div>
								<input type="hidden" name="districtName" id="hidden-district-name">
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="add-ward-input">Ward</label>
								<div class="col-sm-4">
									<select class="form-control" id="add-ward-input"></select>
								</div>
								<input type="hidden" name="wardName" id="hidden-ward-name">
								<label class="col-sm-2 control-label" for="add-address-input">Address</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="add-address-input"
										placeholder="Please enter the new address"></input>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="add-email-input">Email</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="add-email-input"
										placeholder="Please enter the new email"></input>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" id="add-submit-btn">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>